
@keyframes marquee-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.marquee-container {
    /* Ensures the animation starts off-screen and only scrolls horizontally */
    white-space: nowrap; 
    overflow: hidden;
}

.marquee-content {
    display: flex;
    animation: marquee-scroll 15s linear infinite;
}