@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";


a.active hr{
    display: block;
}

*{
    font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width:640px){
    a.active{
        background-color: rgb(230, 230, 230);
        color: rgb(0, 0, 0);

    }
}



.blob-loader {
    width: 80px;
    height: 80px;
    background: radial-gradient(circle at 30% 30%, #4ade80, #22c55e 70%);
    border-radius: 50%;
    animation: blob 1.8s infinite ease-in-out;
    filter: drop-shadow(0px 0px 12px #22c55e);
}

@keyframes blob {
    0% {
        border-radius: 50%;
        transform: scale(1);
    }
    33% {
        border-radius: 45% 55% 60% 40% / 55% 50% 45% 60%;
        transform: scale(1.15);
    }
    66% {
        border-radius: 60% 40% 45% 55% / 40% 60% 55% 45%;
        transform: scale(0.9);
    }
    100% {
        border-radius: 50%;
        transform: scale(1);
    }
}


